<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PlacementDashboardContext" connectionString="Data Source=belfastdevops;Initial Catalog=PlacementDashboard;Persist Security Info=True;User ID=CiaraMarmion;Password=test;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>